<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.raibach.cloudflared</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/cloudflared</string>
        <string>tunnel</string>
        <string>run</string>
        <string>--token</string>
        <string>eyJhIjoiYjJmZWIzYzViOWIxYThkNjRjNTgyYjkzZjlmOWM3N2EiLCJ0IjoiYmZjYjU1Y2ItNzhmMi00NGIzLTg3NjgtMTg4YTc1NTI5ZjY3IiwicyI6Ik9XSmlNalV5WlRJdE1qZ3dNQzAwWXpNd0xXRTRORGd0TTJabE5XSTBZakV5WkdVMSJ9</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/cloudflared.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/cloudflared.error.log</string>

    <key>RestartInterval</key>
    <integer>30</integer>
</dict>
</plist>